.page{
padding: 90px 30px;
}
.page__section{
padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.page__title{
font-size: 3rem;
  text-align: center;
}
.page__title-2{
  font-size: 2rem;
}
.page__text{
line-height: 150%;
}
.section-1{
background-color: aquamarine;
}
.section-2{
background-color: antiquewhite;
}
.section-3{
background-color: bisque;
}